.Rproj.user
.Rhistory
.RData
.Ruserdata

analysis/results/models
analysis/results/predictions
data/
paper/thesis.aux
paper/thesis.bbl
paper/thesis.blg
paper/thesis.log
paper/thesis.out
paper/thesis.pdf
paper/thesis.synctex.gz
paper/thesis.toc